/**
 * @file
 * Color styles
 */

/**
 * color settings
 */
$ht16red: #b21b1b;
$ht16shadow: $ht16red - #2f2f2f;
$darkred: #640b0f;

$yellowlight: #fffbd9;
$yellow: #ffeb00;

$white: #fff;
$light: #efefef;
$lightgrey: #f7f7f7;
$mediumgrey: #ddd;
$shadowgrey: #ababab;
$grey: #999;
$anthrazit: #373737;
$dark: #212121;
$black: #000;

/*
 * color variables
 * naming conventions:
 * - prefix: "c_" (for color)
 * - +context or element (e.g. "link" for links)
 */
$c_hinweisback: $yellowlight;
$c_hinweisborder: $yellow;

$c_fliplink: #2385ba;
$c_backblue: #82bee0;

$c_link: $darkred;

$c_text: $dark;
$c_shadow: $shadowgrey;
