/**
 * @file
 * Styles for display suite menu fields
 */
.ds-top  .field-name-title h2 {
  line-height: 1em;
} 

.ds-left-column {
  margin-right: 1.5em;
}
 
p.submitted {
  margin-top: 0;
  color: $grey;
  font-size: 0.875em;
}