/**
 * @file:
 * node styles
 */
 
h1.page__title.title,
.node h2 {
  font-family: 'droid_sans';
  font-size: $h2-font-size;
  color: $c_text;
}

.node {
  h3, h4, h5, h6 {
    font-family: 'droid_sans';
  }
  a:hover,
  a:active {
    text-shadow: $c_shadow 2px 2px 2px;
  }
}

.node li, 
p {
  font-family: 'droid_sans';
  color: $c_text;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.flippy,
.breadcrumb {
  font-size: $base-font-size/1.25;
  a,
  a:link {
    color: $c_text;
  }
}

ul.flippy li {
  padding: 0;
  margin-top: +1em;
  a:link,
  a:visited {
    color: $c_fliplink;
  }
  &.prev:before {
  content: "<<";
  }
  &.next:before {
  content: ">>";
  }
}