/**
 * @file:
 * node styles
 */
 
h1.page__title.title,
.node h2 {
  font-family: 'droid_sans';
  font-size: $h2-font-size;
  color: $c_text;
}

.node li, 
p {
  font-family: 'droid_sans';
  color: $c_text;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.node {
  a:hover,
  a:active {
    text-shadow: $c_shadow 2px 2px 2px;
  }
}

.flippy,
.breadcrumb {
  font-size: $base-font-size/1.25;
  a,
  a:link {
    color: $c_text;
  }
}