/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */

@media screen and (min-width: 800px) {
  body {
    background-image: url("../images/bg_n2-transparent-compressor.png");
    background-color: $ht16red;
  }
  .PageBackgroundSimpleGradient {
    position: absolute;
    width: 100%;
  }

  .PageBackgroundSimpleGradient, .PageBackgroundGradient {
    min-width:801px;
  }

  #page-wrapper {
  }

  /* begin Box, Sheet */
  .Sheet
  {
    position:relative;
    z-index:0;
    margin:0 auto;
    max-width: 980px;
    min-width:23px;
    min-height:23px;
    margin-top: -15px !important;
    background-color: $white;
  }
  /* end Box, Sheet */

  #page {
  }

  #header {
  }

  #header .section {
  }

  #main-wrapper {
  }

  #main {
  }

  #footer .section {
  }
}

@media all {
  #footer-wrapper {
    margin-top: 1em;
    background-color: $anthrazit;
  }

}
