/**
 * Views module styles
 */
.view-content {
  font-family: 'droid_sans';
}

/* Leertext */
.hinweis {
  background-color: $yellowlight;
  border: 1px solid $yellow;
  padding: 0.75rem;
}


/* Bildlauf */
.region .region-highlighted .views-view-grid .cols-4 {
  width: 100%
  img {
    width: 100%;
  }
}

@media screen and (min-width: 791px) and (max-width: 959px) {
  .view-bildlauf .col-4 {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .view-bildlauf .col-2,
  .view-bildlauf .col-4 {
    display: none;
  }
}

/* Footer link settings */
.view-footer {
  text-align: center;
  p a {
    &:link,
    &:visited {
      margin: 0.5rem;
      padding: 0.5rem 1.75rem;
      color: $dark;
      border: 1px solid;
      border-radius: 1.5rem;
      border-color: $shadowgrey;
      background-color: $mediumgrey;
      background-image: -moz-linear-gradient(center top, $lightgrey, $mediumgrey);
      background-image: -webkit-gradient(linear, top, bottom, from($lightgrey), to($mediumgrey));
      background-image: linear-gradient(top, $lightgrey, $mediumgrey);
      /* Für Internet Explorer 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$lightgrey, endColorstr=$mediumgrey);
      zoom: 1;
      /* Für Internet Explorer 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$lightgrey, endColorstr=$mediumgrey)";
    }
    &:hover,
    &:active {
      color: $light;
      border: none;
      background-color: $ht16red;
      background-image: -moz-linear-gradient(center top, $ht16red, $ht16shadow);
      background-image: -webkit-gradient(linear, top, bottom, from($ht16red), to($ht16shadow));
      background-image: linear-gradient(top, $ht16red, $ht16shadow);
      /* Für Internet Explorer 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$ht16red, endColorstr=$ht16shadow);
      zoom: 1;
      /* Für Internet Explorer 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$ht16red, endColorstr=$ht16shadow)";
    }
  }
}

/*
 * News archiv view
 */
.view-newsarchiv .view-content .views-table {
  width: 100%;
  caption {
  font-size: $h3-font-size;
  color: $c_text;
  background-color: $light;
  border: 1px solid;
  border-color: $c_shadow;
  border-radius: 5px;
  margin-bottom: 0.5em;
  padding: 0.25em 0;
  }
}

.views-field.views-field-created.views-align-left {
  width: 6em;
}

/* End news archiv view */