 ﻿/**
 * Views module styles
 */
.view-content {
  font-family: 'droid_sans';
}

/* Leertext */
.hinweis {
  background-color: $yellowlight;
  border: 1px solid $yellow;
  padding: 0.75rem;
}


/* Bildlauf */
.region .region-highlighted .views-view-grid .cols-4 {
  width: 100%
  img {
    width: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 959px) {
  .view-bildlauf .col-4 {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .view-bildlauf {
      display: none;
  }
}

/*
@media screen and (max-width: 670px) {
  .view-bildlauf .col-3 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .view-bildlauf .col-3,
  .view-bildlauf .col-4 {
    display: none;
  }
}
*/

/* Footer link settings */
.view-footer,
.read-more {
  text-align: center;
  display: block;
  margin-top: +1rem;
  a {
    &:link,
    &:visited {
      margin: 0.5rem;
      padding: 0.5rem 1.75rem;
      color: $dark;
      font-weight: normal;
      border-radius: 0.5rem;
      & {
        @include buttonstyle;
      }
    }
    &:hover,
    &:active {
      @include buttonstyle_hover;
      text-shadow: none;
    }
  }
}

/*
 * News archiv view
 */
.view-newsarchiv .view-content .views-table {
  width: 100%;
  caption {
  font-size: $h3-font-size;
  color: $c_text;
  background-color: $light;
  border: 1px solid;
  border-color: $c_shadow;
  border-radius: 5px;
  margin-bottom: 0.5em;
  padding: 0.25em 0;
  }
  & a {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  }
  & a:link {
    margin: 0.125em;
    padding: 0.25em;
    border: 0px;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
  }
  & a:hover {
    color: $light;
    background-color: $ht16red;
  }
}

.views-field.views-field-created.views-align-left {
  width: 6em;
}

/* End news archiv view */

/* Views edit links */
.views-field-edit-node a {
  .even & {
    color: $ht16red;
  }
  .odd & {
    color: $c_link;
  }
  &:hover {
    color: $c_fliplink;
  }
}

/*
 * Views archiv table even/odd row styles.
 */
.view-newsarchiv {
  tr:nth-child(2n) {
    background-color: $light;
  }
}

/*
 * Views schedule and result listings
 */
.view-schedule,
.view-content {
  caption,
  h3 {
    background-color: $light;
    font-size: $h2-font-size;
    text-align: center;
    color: $ht16red;
    text-shadow: 1px 1px $grey;
    line-height: 1.75em;
    border: 1px solid $mediumgrey;
    width: 100%;
  }
  tr {
    line-height: 1.75em;
  }
  td.views-field-field-schedule-date {
    background-color: $yellowlight;
  }
  td.views-field-title {
    padding-left: 1em;
  }
}

.view-display-id-page_1 {
  table {
    width: 100%;
    margin: 0 auto;
  }
  th, td {
    padding: 0 0.5em;
  }
}
